.show_button{
    background-color: blue;
    border-radius: 3px;
    padding: 6px;
    color: white;
}
.avatarImg{
    width: 80px;
    border-radius: 15px;
}
.user_container{
    padding-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: left;
}
.users_container{
    width: 100%;
}
.user_text{
    font-size: 18px;
    color: purple;
    padding-left: 15px;
}
.user_avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: x-large;
    padding-bottom: 3%;
}
.selected_page{
    font-size: x-large;
    font-weight: 800;
}