.imageSize{
    width: 60px;
    border-radius: 35px;
    display: inline-block;
}
.friend{
    color: gold;
    font-size: 20px;
    font-weight: bolder;
}
a {
    text-decoration: none;
}