.login{
  color: blueviolet;
  font-weight: 800;
  font-size: 22px;
}
.image{
    width: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_button{
  background-color: #0DCAF0;
  font-size: 14px;
  color: blueviolet;
}
