.backGround{
    background-color: #e0e4e7;
    width: 100%;
    padding-top: 2%;
}
.dialogsWrapper{
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    height: 100%;
}
.friends{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.friend{
    font-size: 18px;
}
.friend a{
    text-decoration: none;
}
.friendsTitle{
    font-size: x-large;
}
.DialogContainer{
    margin-left: 50px;
    width: 100%;
}
.dialogText{
    background-color: chartreuse;
    padding: 10px;
    border-radius: 10px;
}
.friend.active a{
    color: gold;
    font-size: 20px;
    font-weight: bolder;
}
.send{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}
.send textarea{
    background-color: deepskyblue;
}